/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UHVDB/nucleotidecluster Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    input_fna       = null
    chunk_size      = 10000
    min_ani         = 0.95
    min_qcov        = 0.85
    cluster         = false
    output          = null
    remove_tmp      = true
}

process {
    conda       = "environment.yml"
    container   = { "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
        'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ce/ce5a65bff9ca9689b1a7ab4fbeb8c14572e410357fdfc364f4ccd21e3f266a3d/data' :
        'community.wave.seqera.io/library/clusty_kmer-db_lz-ani_mcl_pruned:672707dc4e8c5b30' }"
    }
    // Singularity: https://wave.seqera.io/view/builds/bd-c62fd72da5c4e5b1_1?_gl=1*59yci4*_gcl_au*NjY1ODA2Mjk0LjE3NjM0ODUwMTIuMTkzMDcyNDQ0Ni4xNzY0MTA1MTMwLjE3NjQxMDUxMzA.
    // Docker: https://wave.seqera.io/view/builds/bd-672707dc4e8c5b30_1?_gl=1*59yci4*_gcl_au*NjY1ODA2Mjk0LjE3NjM0ODUwMTIuMTkzMDcyNDQ0Ni4xNzY0MTA1MTMwLjE3NjQxMDUxMzA.
    storeDir    = { "tmp/${task.process.toString().toLowerCase().replace("_", "/")}/${meta.id}" }
    tag         = { "${meta.id}" }
}

manifest {
    name = 'UHVDB/nucleotidecluster'
    contributors = [
        [
            name: 'Carson Miller',
            affiliation: 'University of Washington, Seattle, USA',
            email: 'carsonjm@uw.edu',
            github: 'UHVDB',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0001-9861-4884',
        ]
    ]
    homePage        = 'https://github.com/UHVDB/nucleotidecluster'
    description     = """Part of the UHVDB-toolkit: Used to perform protein-based clustering of viral genomes."""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.04.2'
    version         = '0.0.1'
    doi             = ''
    license         = 'MIT License'
    organization    = 'UHVDB'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        process.beforeScript                         = 'echo $HOSTNAME'
        cleanup                                      = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled        = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        conda.channels       = ['conda-forge', 'bioconda']
        apptainer.enabled    = false
    }
    mamba {
        conda.enabled        = true
        conda.useMamba       = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    micromamba {
        conda.enabled        = true
        conda.useMicromamba  = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    docker {
        docker.enabled       = true
        conda.enabled        = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        // TODO https://github.com/nf-core/modules/issues/6694
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled       = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    shifter {
        shifter.enabled      = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    charliecloud {
        charliecloud.enabled = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        apptainer.enabled    = false
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    test_mcl    { includeConfig "conf/test_mcl.config" }
    test_clusty { includeConfig "conf/test_clusty.config" }

}
